body {
    margin-left: 150;
    background-color: #DAF7A6;
    text-align: center;
    
    }

       
img {
width: 800px;
height: 500px;

}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}
