header {
        width: 500px;
        margin: 100px auto;
        text-align: center;
}

body {
    margin-left: 100;
    background-color: #DAF7A6;
    text-align: center;
    
    }

    .intro {
        width: 500px;
        margin: 100px auto;
        text-align: center;
        
    }
img {
width: 700px;
height: 500px;

}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}
